body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    text-align: center;
    background-color: #fff;
    display: block;
}
.container {
    width: 750px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    background-color: mediumaquamarine;
}
#app {
    background-color: aliceblue;
}

.h2, h2 {
    font-size: 30px;
}

#myCarousel {
    background-color: red;
}
.carousel {
    position: relative;
}

.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
}
#myCarousel img {
	height: 300px;
	margin-top: 35px;
}

.carousel-inner p {
	margin-top: 15px;
	color: azure;
	font-size: 20px;
	
}
